/* PAGE HEADER AND INTRODUCTION */
#page-header {
	background-color: #555;
	color: #fff;
	padding: 20px;
}
#page-header h2 {
	color: #fff;
	margin: 20px 0;
}
#page-header p {
	color: #fff;
	margin: 20px 0;
}
#introduction {
	padding: 20px;
	background-color: #fff;
}
/* END PAGE HEADER AND INTRODUCTION */

/* CATEGORIES PAGE */
.product-tile { 
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 250px;
  margin: 40px auto 0px;
}
.product-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
  opacity: .3;
  /*display: none;*/
}
.product-tile span:hover {
	/*transition: all 0.8s ease;
	display: block;*/
}
.product-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#categories-title + div {
  margin-bottom: 50px;
}
/* END CATEGORIES PAGE */


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  .product-tile {
    margin: 10px auto 26px;
  }
}